
.about video{
    max-width: 48%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 24px
}

.about {
    padding: 80px 60px;
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--about-bg-foot);
    @media (max-width:1180px) {
        flex-wrap: wrap;
        .wrap {
            margin: 0 auto 2rem;
            p, h1 {
                text-align: center;
                width: 100% !important;
            }
            h1 {
                font-size: calc(64px*0.8);
            }

            p:first-of-type {
                font-size: calc(24px*0.8);
            }
            p {
                font-size: calc(18px*0.9);
            }
        }
        video {
            max-width: 80% !important;
            padding: 0 !important;
        }
    }
    @media (max-width:500px) {
        flex-wrap: wrap;
        .wrap {
            h1 {
                font-size: calc(64px*0.8*0.8);
                line-height: normal;
            }

            p:first-of-type {
                font-size: calc(24px*0.8*0.8);
                line-height: normal;
            }
            p {
                font-size: calc(18px*0.9*0.8);
                line-height: normal;

            }
        }
        video {
            max-width: 95% !important;
            padding: 0 !important;
        }

        p:first-of-type {
            margin: 4px !important;
            line-height: normal !important;}
    }
}
.about h1 {
    color: var(--yellow);
    font-family: var(--font-f-h);
    font-size: 64px;
}
.about .wrap {
    display: grid;
    column-gap: 5%;
}

.about p:first-of-type {
    font-size: 24px;
    font-weight: 700;    
    width: 625px;
    margin: 6px 0 24px;
    line-height: 28.80px;
}

.about p {    
    color: var(--text-color);
    font-family: var(--font-f);
    font-size: 18px;
    font-weight: 400;
    width: 595px;
    line-height: 27px;
}
.hide {
    display:none;
    position: absolute;

}
.about-us video:hover {
    opacity: 0.9;
}