@import url(common.css);

section {
    row-gap: 4rem;
    align-items: end;
    

    @media (max-width:1080px) {
        gap: 2rem !important;
        h1 {
            font-size: calc(108px*0.7) !important;
        }
        p {
            font-size: calc(18px*0.8) !important;
        }
        a {
            height: 6rem !important;
            width: 6rem !important;
        }
        h2 {
            font-size: calc(56px*0.7)!important;
        }
        h3 {
            font-size: calc(24px*0.8) !important;
        }
    }
    @media (max-width:800px) {
        grid-template-columns: 100% !important;
        
        h1 br {
            display: none !important;
        }
        * {
            grid-column: 1 !important;
        }
        .img-wrapper {
            grid-row: 3 !important;
            width: 100% !important; 
            gap: 1rem !important;
            flex-direction: row !important;
            img {
                width: 30% !important;
                overflow-x: scroll;
            }
        }
        a {
            grid-row: 6 !important;
        }
    }
    @media (max-width: 600px) {
        row-gap: 1rem !important;
        .text-wrapper {
            gap: 1rem !important;
        }
        .img-wrapper {
            gap: 0.5rem !important;
        }
        h2 {
            margin-top: 1rem !important;
        }
        h1 {
            font-size: calc(108px*0.7*0.8) !important;
        }
        h2 {
            font-size: calc(56px*0.7*0.8)!important;
        }
        h3 {
            font-size: calc(24px*0.8*0.8) !important;
        }
    }
    @media (max-width: 400px) {
        .img-wrapper {
            gap: 0.2rem !important;
        }
        h1 {
            font-size: calc(108px*0.7*0.8*0.8) !important;
        }
        h2 {
            font-size: calc(56px*0.7*0.8*0.6)!important;
        }
        h3 {
            font-size: calc(24px*0.8*0.8*0.8) !important;
        }
        p {
            font-size: calc(18px*0.8*0.8) !important;
        }
        a {
            height: 3.5rem !important;
            width: 3.5rem !important;
        }
    }
}
.top {
    margin: auto;
}
section .img-wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 2/4;
}
.text-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2:first-of-type {
        margin-top: 4rem;
        margin-bottom: 1rem;

    }
    h2:last-of-type {
        margin-top: 1rem;
        text-align: end;
    }
    
}
section a {
    grid-column: 2;
    grid-row: 3;
}