@import url(../reset.css);
@import url(../base.css);
@import url(../header.css);
@import url(../footer.css);

body {
    background: linear-gradient(66deg, rgba(11, 10, 16, 0.88) -6.21%, rgba(0, 0, 0, 0.00) 64.92%), linear-gradient(0deg, #141416 0%, #141416 100%), #0E0E10;
}

section {
    padding: 60px;

    @media (max-width:600px) {
        padding: 30px !important;

    }
}

.transparent-btn {
    border: 1px white solid;
    color: var(--text-color);
}

.yellow-btn {
    background-color: var(--yellow);
    color: var(--black);
    transition-duration: 1s;
}

.zvit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
        color: var(--yellow);
        font-family: var(--font-f-h);
        font-size: 108px;
        margin-bottom: 78px;
    }

    >img {
        width: 42%;
    }

    .left {
        max-width: 40%;

        >img {
            margin-left: 30%;
        }
    }

}

.card-wrapper {
    padding: 8rem 0 10rem;
    display: grid;
    grid-template-columns: [start] 1fr [center] 1fr [end] 1fr;
    gap: 40px;

    >img {
        grid-column: 2/4;
        display: flex;
        margin: auto auto;
    }
}

.h-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    p {
        font-size: 18px;
    }
}

.card__image {
    width: 100%;
    height: 172px;
    border-radius: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    background: #19191C;

    h1 {
        color: var(--yellow);
        font-family: var(--font-f);
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        color: var(--text-color);
        font-family: var(--font-f);
        margin-bottom: 0.75rem;

    }
}

.card__info {
    position: relative;
    padding: 0 2rem 2rem;
    font-family: var(--font-f);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: first baseline;
    height: 100%;
    justify-content: space-between;

    a {
        padding: 18px 32px;
        margin: 5.5rem 0 0;
        color: #fff;
        border: 1px solid #fff;
        font-size: 18px;
        font-weight: 550;
        line-height: 18px;
        border-radius: 12px;
        display: flex;
        width: 100%;
        align-self: center;
        justify-content: center;
    }

    .text-wrapper>p:first-of-type {
        font-weight: 700;
    }
}

.transactions {
    background-color: var(--about-bg-foot);

    h1 {
        color: var(--text-color);
        font-family: var(--font-f);
        font-size: 24px;
        margin-top: -8rem;
        text-transform: uppercase;
    }
}

table {
    background-color: #19191C;
    color: var(--text-color);
    font-family: var(--font-f);
    font-size: 18px;
    width: 100%;
    margin-top: 5rem;
    border-spacing: 10px;

    @media (max-width: 900px) {
        margin-top: 2rem !important;
        font-size: calc(18px*0.8) !important;
        border-spacing: 5px !important;

        th {
            height: 20px !important;
        }

        td:first-of-type {
            width: 25% !important;
        }
    }

    @media (max-width: 630px) {
        font-size: calc(18px*0.6) !important;
        border-spacing: 3px !important;

        th {
            height: 20px !important;
        }

        td:first-of-type {
            width: 25% !important;
        }
    }

    @media (max-width: 430px) {
        display: block !important;
        max-width: -moz-fit-content !important;
        max-width: fit-content !important;
        overflow-x: auto !important;
        white-space: nowrap !important;
    }
}

th {
    font-weight: 700;
    border: 1px solid var(--text-color);
    height: 40px;
}
section:last-of-type {
    padding: 30px;
    @media (max-width:600px) {
        padding: 15px !important;
    }
}
.zvit {
    @media (max-width:1180px) {
        flex-direction: column !important;
        align-items: center !important;

        .left {
            display: flex;
            min-width: 95% !important;
            justify-content: space-between !important;

            img {
                width: 60%;
                margin-left: 0 !important;
            }

            h1 {
                font-size: calc(108px*0.8) !important;
            }
        }

        >img {
            margin-top: 5% !important;
            width: 90% !important;
        }

        .card-wrapper {
            grid-template-columns: 1fr 1fr !important;
            padding: 4.8rem 0 6rem !important;

            img {
                grid-column: 1/3 !important;
            }

            a {
                margin: 3.5rem 0 0 !important;
            }
        }
    }

    @media (max-width:800px) {

        .card-wrapper {
            gap: 1rem !important;
            padding: 2.4rem 0 3rem !important;

            .h-wrapper p,
            .h-wrapper h1 {
                font-size: calc(18px*0.8) !important;
            }

            a {
                font-size: calc(18px*0.6) !important;
            }

            p {
                font-size: calc(16px*0.8) !important;
            }

            a {
                margin: 0.5rem 0 0 !important;
                padding: calc(18px*0.8) calc(32px*0.8) !important;
                width: 90% !important;
            }

            .card__info {
                padding: 0 1rem 1rem !important;
            }

            .card img {
                height: 30% !important;
            }
        }

    }

    @media (max-width:600px) {

        .card-wrapper {
            gap: 0.5rem !important;

            .h-wrapper p,
            .h-wrapper h1 {
                font-size: calc(18px*0.8*0.8) !important;
            }

            a {
                font-size: calc(18px*0.6*0.8) !important;
            }

            p {
                font-size: calc(16px*0.8*0.8) !important;
            }

            a {
                margin: 0.5rem 0 0 !important;
                padding: 8px 18px !important;

            }

            .card__info {
                padding: 0 1rem 1rem !important;
            }

            .card img {
                height: 30%;
                border-radius: 6px !important;
            }
        }
    }

    @media (max-width:400px) {
        .left {
            flex-direction: column !important;
            align-items: center !important;

            h1 {
                margin-bottom: 0 !important;
            }
        }

        .card-wrapper {
            gap: 0.5rem !important;
            grid-template-columns: 100% !important;
            p {
                font-size: calc(16px*0.8*0.8*0.8) !important;
            }

            a {
                margin: 0.3rem 0 0 !important;
                padding: 2px 8px !important;
            }
            .card {
                width: 13rem !important;
                margin: 0 auto;
            }
            .card__info {
                padding: 0 0.5rem 0.8rem !important;
            }
            * {
                grid-column: 1 !important;
            }
        }
    }
    @media (max-width:265px) {
        .card-wrapper .card {
            width: 100% !important;
            margin: 0 auto;
        }
    }
    
}

.transactions {
    @media (max-width:800px) {

        h1 {
            font-size: calc(24px*0.8) !important;
            margin-top: -4rem !important;
        }
    }
}