@import url(../reset.css);
@import url(../base.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../about.css);
@import url(section-first.css);
@import url(section-second.css);
@import url(values.css);
@import url(support.css);
@import url(partners.css);

body {
    background: linear-gradient(66deg, rgba(11, 10, 16, 0.88) -6.21%, rgba(0, 0, 0, 0.00) 64.92%), linear-gradient(0deg, #141416 0%, #141416 100%), #0E0E10;
}
section:not(:first-of-type) {
    padding: 80px 60px;
    @media (max-width:600px) {
        padding: 40px 30px;
    }
}
section:first-of-type {
    padding: 0px 60px;
    @media (max-width:600px) {
        padding: 0 30px;
    }
}
.transparent-btn {
    border: 1px white solid;
    color: var(--text-color);
}
.yellow-btn {
    background-color: var(--yellow);
    color: var(--black);
    transition-duration: 1s ;
}
.yellow-btn:hover {
    
}