.partners h1 {
    margin: 80px 0 33px;
    color: var(--yellow);
    font-size: 64px;
    font-family: var(--font-f-h);
    text-transform: uppercase;
    line-height: 55.04px;

    @media (max-width:1050px) {
        font-size: calc(64px*0.8) !important;
        margin: 16px 0 !important;
    }
    @media (max-width:500px) {
        font-size: calc(64px*0.8*0.9) !important;
        margin: 12px !important;
        line-height: 35.04px !important;
    }
}

.logos-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1%;
    justify-content: center;

    @media (max-width:1050px) {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3% !important;
    }
}

.partner-logo {
    background-size: 100%;
    background-position: center;
    width: 152px;
    height: 200px;
    border-radius: 10px;
    background-repeat: no-repeat;

    @media (max-width:800px) {
        width: auto !important;
        height: 11rem !important;
    }

    @media (max-width:600px) {
        height: 9rem !important;
    }

    @media (max-width:500px) {
        height: 7rem !important;
    }
}