.support {
    padding: 60px 0 0!important;
    background-color: var(--sup-bg);
    @media (max-width:1180px) {
        p {
            font-size: calc(22px*0.8) !important;
        }
        h2 {
            font-size: calc(46px*0.8) !important;
        }
        button {
            font-size: calc(18px*0.8) !important;
            padding: calc(18px*0.8) calc(32px*0.8) !important;
        }
    }
    @media (max-width:700px) {
        .container {
            height: 20rem !important;
        }
        h2 {
            padding-top: 6rem !important;
        }
    }
    @media (max-width:501px) {
        img {
            width: 3.3rem !important;
        }
        p {
            margin: 30px auto !important;
            font-size: calc(22px*0.8*0.8) !important;
            line-height: normal !important;

        }
        h2 {
            font-size: calc(46px*0.8*0.8) !important;
        }
        button {
            font-size: calc(18px*0.8*0.8) !important;
            padding: calc(18px*0.8*0.8) calc(32px*0.8*0.8) !important;
            width: 12rem !important;
        }
    }

}

.support img:first-of-type {
    margin: 0 auto;
    display: flex;
}

.support p {
    display: flex;
    margin: 60px auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    line-height: 33px;
    max-width: 80%;
    font-family: var(--font-f);
    color: var(--text-color);
}

.container button {
    font-family: var(--font-f);
    padding: 18px 32px;
    font-size: 18px;
    font-weight: 550;
    line-height: 18px;
    border-radius: 12px;
    width: 294px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.container h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    width: 80%;
    font-family: var(--font-f);
    margin: auto;
    padding-top: 13rem;
}

.container {
    position: relative;
    text-align: center;
    height: 455px;
    background:  url(../../img/main/Rectangle\ 5161.png) no-repeat;
    background-size: cover;
    img {
        z-index: 0;
        width: 100%;
    }
    @media (max-width:1150px) {
        button {
            bottom: 5% !important;
        }
    }
    @media (max-width:1050px) {
        button {
            bottom: 0 !important;
        }
    }
}