.values {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width:1180px) {
        grid-template-columns: 1fr;

        .right {
            grid-row: 1;
            align-items: center !important;
            padding-top: 0 !important;

            p {
                text-align: center !important;
                max-width: 100% !important;
            }

        }

        .card-wrapper {
            width: fit-content;
            margin: 0 auto;

            .card {
                max-width: 22rem !important;
            }
        }
    }

    @media (max-width:650px) {
        .right {
            gap: 1rem !important;
            padding: 1rem !important;
        }

        p {
            font-size: 18px !important;
        }

        .card-wrapper {
            gap: 7px !important;
        }

        .card-wrapper .card {
            padding: 18px !important;
        }
    }

    @media (max-width:501px) {

        p {
            font-size: 16px !important;
            line-height: normal !important;

        }

        .card-wrapper {
            gap: 4px !important;
        }

        .card-wrapper .card {
            padding: 14px !important;
        }
    }

    @media (max-width:405px) {
        .card-wrapper {
            gap: 10px !important;
            grid-template-columns: 1fr !important;
        }
        .card-wrapper .card {
                width: 200px !important;
                margin: 0 auto;            
        }
    }
    @media (max-width:350px) {
        p {
            font-size: 14px !important;
        }
    }
}

.values .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.values .card-wrapper .card {
    padding: 36px;
    gap: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #595959;
    border-radius: 24px;
}

.values .card-wrapper .card p {
    font-family: var(--font-f);
    font-size: 18px;
    letter-spacing: 0.22px;
    color: var(--under-text-1-3);
}

.values .card-wrapper .card p:first-of-type {
    font-size: 22px;
    line-height: 26.40px;
    color: var(--text-color);
}

.values .line {
    background-color: var(--line-1);
    height: 2px;
    width: 12px;
}

.values .right {
    padding: 4rem;
    gap: 38px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.values .right p {
    color: var(--text-color);
    font-size: 26px;
    font-family: var(--font-f);
    font-weight: 700;
    line-height: 31.46px;
    text-align: end;
    max-width: 474px;

}

.values span {
    color: var(--yellow);
}