@import url(../reset.css);
@import url(../base.css);
@import url(../header.css);
@import url(../footer.css);

body {
    background: linear-gradient(66deg, rgba(11, 10, 16, 0.88) -6.21%, rgba(0, 0, 0, 0.00) 64.92%), linear-gradient(0deg, #141416 0%, #141416 100%), #0E0E10;
}

section:first-of-type {
    padding: 60px 60px;
}
.transparent-btn {
    border: 1px white solid;
    color: var(--text-color);
}
.yellow-btn {
    background-color: var(--yellow);
    color: var(--black);
    transition-duration: 1s ;
}
p {
    font-family: var(--font-f);
    font-size: 22px;
}
.pidtrimay h1 {
    font-family: var(--font-f-h);
    font-size: 108px;
    color: var(--yellow);
}
.main-frame {
    margin: 24px 0 222px;
    padding: 38px;
    display: grid;
    gap: 62px;
    border-radius: 32px;
    background: #19191C;
}
.pidtrimay button, .pidtrimay a {
    font-family: var(--font-f);
    font-size: 22px;
    font-weight: 700;
    line-height: 26.40px;
    padding: 32px ;
    border: 1px solid var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition-duration: 0.5s;
}
.btn-wrapper {
    width: 100%;
}
.pidtrimay .upper button { 
    width: 50%;
}

.pidtrimay .upper img { 
    margin-top: 12px;
    width: 36px;
    right: -92%;
    position: relative;
}
.triangle {
    right: 2% !important;
}
/* 
.pidtrimay .upper button:first-of-type:click .upper img{
    right: 0 ease;
} */
.pidtrimay button:hover, .pidtrimay button:active, .pidtrimay button:focus  {
    background-color: #111113;
    color: var(--yellow);
}
.pidtrimay .btn-wrapper a:first-of-type, .pidtrimay .btn-wrapper button:first-of-type {
    border-radius: 24px 0px 0px 24px;
}
.pidtrimay .btn-wrapper {
    display: flex;
}
.pidtrimay .btn-wrapper a:last-of-type, .pidtrimay .btn-wrapper button:last-of-type {
    border-radius:  0px 24px 24px 0px;
}
.pidtrimay .upper p {
    padding: 12px;
    width: 100%;
    background-color: var(--yellow);
    border-radius: 32px;
}
.pidtrimay .bottom .btn-wrapper a {
    width: 33.3%;
}
.pidtrimay .bottom > p {
    margin-bottom: 24px;
    color: #fff;
    font-weight: 700;
    line-height: 33px;
}
.pidtrimay span {
    font-weight: 700;
}
.pidtrimay .p-list {
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:15rem;
    row-gap: 3rem;
    color: #fff;
    .p-item {
        display: grid;
        grid-template-columns: auto 22px;
        gap: 0.5rem;
        p {
            grid-column: 1;
        }
        img {
            grid-row: 2;
            grid-column: 2;
            cursor: pointer;
        }
    }
}

/* media */
@media (max-width:1070px) {
    h1 {
        font-size: calc(108px*0.7) !important;
    }
    p, .pidtrimay button {
        font-size: calc(22px*0.8) !important;
    }
    .p-list{
        column-gap: 5rem !important;
    }
}
@media (max-width:805px) {
    h1 {
        font-size: calc(108px*0.7) !important;
    }
    p, .pidtrimay button {
        font-size: calc(22px*0.8) !important;
    }
    .p-list{
        column-gap: 2rem !important;
    }
}